@font-face {
    src: url(fonts/Stretch.ttf);
    font-family: Stretch;
}

@font-face {
    src: url(fonts/Poppins-Light.ttf);
    font-family: Poppins;
}

.title{
    text-align: center;
    font-size: 30px;
    line-height: 0.65;
    border: 10px solid rgb(34, 34, 34);
    align: center;
    width: 420px;
    border-radius: 12% 12% 12% 12% / 24% 24% 24% 24%;
    background: linear-gradient(160deg, rgba(244,0,255,1) 0%, rgba(0,212,255,1) 100%);
    margin: auto;
}

.main-title{
    font-family: Stretch;
    text-shadow: 0px 7px 2.5px rgba(0,0,0,0.3)
}

.main-subtitle{
    font-family: Poppins;
    font-weight: bold;
    text-shadow: 0px 4.8px 2px rgba(0,0,0,0.3)
}

body {
    background: rgb(255, 255, 255);
}
